/* Agregamos la fuente que vamos a utilizar en la pagina*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Noto+Serif:ital@1&family=Open+Sans:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';

}
html{
    scroll-behavior: smooth;

}

.inicio{
    background: url(./img/fondo1.jpg); 
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
}
.menu{
    top: 100%;
}

.nav{
    display: flex;
    text-decoration: none;
    color: #c1c1c1;
    margin: 0 12px;
    font-weight: 400px;
    gap: 1rem;
    transition: .5s;
    top: auto;
}

.navlist li a{
    color: white;
    text-shadow: 5px black;
    padding: 2rem;
}

@media screen and (max-width: 550px){
    .menu{
        display: block;
    }
    .nav{
        display: none;
    } 

    .nav{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: black;
        opacity: 90%;
        padding: 2rem;
    }
    .navlisst{
        flex-direction: column;
        align-items: end;
    }

}



h1{
    color: red;
}